<a href="https://colab.research.google.com/github/LeoVinacur/Python/blob/main/pandas_copia_de_Clase_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

![plot_1jpg.png]()

# Linea de tiempo 
2008: Inicio de desarrollo de pandas

2009: pandas se convirtio de libre acceso

2012: Primera edicion para Python 

2015: pandas se convierte en un objeto NumFOCUS con mucho soporte

![plot_2.png]()

# Estructuras

Para poder entender pandas se requiere conocer dos tipos de estructuras:

1. Series
2. DataFrame
3. Panel 


Data structure  | Dimensionalidad | Analogo Excel 
-------------------|-------------------|------------------
Series       | 1D |Columna 
Dataframe       | 2D | Hoja de calculo
Panel       | 3D |Hojas de calculo multiples

Las estructuras mas comunes son **Series** y **DataFrame** 

![ejemplo.jpg]()

# Series

Se usan para modelar estrcturas 1D similar a las listas en Python aunque tienen mayor numero de bits incluyendo indice y nombre. 

Pueden albergar strings, floats, booleans

![ejemplo.jpg]()

In [ ]:
import pandas as pd
# Pandas series
numeros = range(50, 70, 2)
numeros_serie = pd.Series(numeros)
print(numeros_serie)

C:\ProgramData\Anaconda3\envs\coder_house\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\envs\coder_house\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\ProgramData\Anaconda3\envs\coder_house\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

0    50
1    52
2    54
3    56
4    58
5    60
6    62
7    64
8    66
9    68
dtype: int64

In [ ]:
# Accediendo al valor asociado al indice 2 de la serie
print(numeros_serie[2])

54

In [ ]:
# Índices
print(numeros_serie.index)

RangeIndex(start=0, stop=10, step=1)

In [ ]:
# Valores
print(numeros_serie.values)

[50 52 54 56 58 60 62 64 66 68]

In [ ]:
# Se modifican los índices
numeros_en_texto = ['primero','segundo','tercero','cuarto','quinto','sexto','séptimo','octavo','noveno','décimo']
numeros_serie = pd.Series(numeros, index = numeros_en_texto)
numeros_serie

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
séptimo    62
octavo     64
noveno     66
décimo     68
dtype: int64

# DataFrames

In [ ]:
# Listas de variables a considerar
modelos = ['A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr', 'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr']
peso = [3583, 3627, 3561, 3880, 3814]
precios = ['$33,430', '$34,480', '$36,640', '$39,640', '$42,490']

In [ ]:
# Se construyen las series con las listas de valores
Autos_peso = pd.Series(peso, index=modelos)
Autos_precio = pd.Series(precios, index=modelos)

In [ ]:
# Creación de dataframe a partir de 2 series
Autos = pd.DataFrame({'Peso': Autos_peso, 'Precio': Autos_precio})
Autos

                           Peso   Precio
A4 3.0 Quattro 4dr manual  3583  $33,430
A4 3.0 Quattro 4dr auto    3627  $34,480
A6 3.0 4dr                 3561  $36,640
A6 3.0 Quattro 4dr         3880  $39,640
A4 3.0 convertible 2dr     3814  $42,490

In [ ]:
# Dataframe con tablero de ajedrez (recordar ejemplo en clase de numpy..)
import numpy as np
Ajedrez_64 = np.arange(1,65).reshape(8,8)
Ajedrez_df = pd.DataFrame(
Ajedrez_64,
columns=range(1,9),
index=['A','B','C','D','E','F','G','H']
) 
Ajedrez_df

    1   2   3   4   5   6   7   8
A   1   2   3   4   5   6   7   8
B   9  10  11  12  13  14  15  16
C  17  18  19  20  21  22  23  24
D  25  26  27  28  29  30  31  32
E  33  34  35  36  37  38  39  40
F  41  42  43  44  45  46  47  48
G  49  50  51  52  53  54  55  56
H  57  58  59  60  61  62  63  64

# Selección de elementos

In [ ]:
numeros_serie

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
séptimo    62
octavo     64
noveno     66
décimo     68
dtype: int64

In [ ]:
# Con el índice
numeros_serie['quinto']

58

In [ ]:
# Loc
numeros_serie.loc['quinto']

58

In [ ]:
# Iloc
numeros_serie.iloc[4]

58

In [ ]:
Autos

                           Peso   Precio
A4 3.0 Quattro 4dr manual  3583  $33,430
A4 3.0 Quattro 4dr auto    3627  $34,480
A6 3.0 4dr                 3561  $36,640
A6 3.0 Quattro 4dr         3880  $39,640
A4 3.0 convertible 2dr     3814  $42,490

In [ ]:
# Uso del metodo loc para filtrar y seleccionar
Autos.loc[Autos.Peso >= 3600, 'Precio']

A4 3.0 Quattro 4dr auto    $34,480
A6 3.0 Quattro 4dr         $39,640
A4 3.0 convertible 2dr     $42,490
Name: Precio, dtype: object

In [ ]:
# Otras maneras de filtrar
Autos[Autos.Precio == '$42,490']

                        Peso   Precio
A4 3.0 convertible 2dr  3814  $42,490

In [ ]:
Autos[(Autos.Precio == '$42,490') | (Autos.Precio == '$39,640')]

                        Peso   Precio
A6 3.0 Quattro 4dr      3880  $39,640
A4 3.0 convertible 2dr  3814  $42,490

In [ ]:
Autos[Autos.Precio.isin(['$42,490', '$39,640'])]

                        Peso   Precio
A6 3.0 Quattro 4dr      3880  $39,640
A4 3.0 convertible 2dr  3814  $42,490

In [ ]:
Autos.values

array([[3583, '$33,430'],
       [3627, '$34,480'],
       [3561, '$36,640'],
       [3880, '$39,640'],
       [3814, '$42,490']], dtype=object)

In [ ]:
Autos.index

Index(['A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr',
       'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr'],
      dtype='object')

In [ ]:
Autos.columns

Index(['Peso', 'Precio'], dtype='object')

# Operaciones en pandas

In [ ]:
peso

[3583, 3627, 3561, 3880, 3814]

In [ ]:
# Porcentaje de un Data Frame con respecto a los valores de su primera fila
largo = [179, 179, 192, 192, 180]
Autos_2 = pd.DataFrame({'Peso':peso,'Largo':largo},index=modelos)
Autos_2

                           Peso  Largo
A4 3.0 Quattro 4dr manual  3583    179
A4 3.0 Quattro 4dr auto    3627    179
A6 3.0 4dr                 3561    192
A6 3.0 Quattro 4dr         3880    192
A4 3.0 convertible 2dr     3814    180

In [ ]:
Autos_2.iloc[0]

Peso     3583
Largo     179
Name: A4 3.0 Quattro 4dr manual, dtype: int64

In [ ]:
Autos_2 / Autos_2.iloc[0] * 100

                                 Peso       Largo
A4 3.0 Quattro 4dr manual  100.000000  100.000000
A4 3.0 Quattro 4dr auto    101.228021  100.000000
A6 3.0 4dr                  99.385989  107.262570
A6 3.0 Quattro 4dr         108.289143  107.262570
A4 3.0 convertible 2dr     106.447111  100.558659

# Trbajando con Nan

In [ ]:
numeros_serie

primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
séptimo    62
octavo     64
noveno     66
décimo     68
dtype: int64

In [ ]:
# Sumando coníndices incompatibles
numeros_serie_porcion1 = numeros_serie[4:7]
numeros_serie_porcion2 = numeros_serie[5:8]
print(numeros_serie_porcion1, numeros_serie_porcion2)

quinto     58
sexto      60
séptimo    62
dtype: int64 sexto      60
séptimo    62
octavo     64
dtype: int64

In [ ]:
df_nan = numeros_serie_porcion1 + numeros_serie_porcion2
print(numeros_serie_porcion1 + numeros_serie_porcion2)

octavo       NaN
quinto       NaN
sexto      120.0
séptimo    124.0
dtype: float64

In [ ]:
# Reemplazo d Nan por ceros
numeros_serie_porcion1.add(numeros_serie_porcion2, fill_value=0)

octavo      64.0
quinto      58.0
sexto      120.0
séptimo    124.0
dtype: float64

In [ ]:
df_nan

octavo       NaN
quinto       NaN
sexto      120.0
séptimo    124.0
dtype: float64

In [ ]:
# Algunas funciones para trabajar con nan
df_nan.isnull()

octavo      True
quinto      True
sexto      False
séptimo    False
dtype: bool

In [ ]:
~df_nan.isna()

octavo     False
quinto     False
sexto       True
séptimo     True
dtype: bool

In [ ]:
df_nan.dropna()

sexto      120.0
séptimo    124.0
dtype: float64

In [ ]:
df_nan.fillna(0)

octavo       0.0
quinto       0.0
sexto      120.0
séptimo    124.0
dtype: float64

In [ ]:
from sklearn import datasets
iris = datasets.load_iris()
iris = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
iris.head(4)
# Dado el iris dataset:
# A) Acceder a la fila asociada al índice 10
# B) Generar una columna que sea igual a la suma de las "lengths"
# C) Guardar en un nuevo dataframe la columna target para todos aquellas observaciones que superen los 5cm de sepal length (cm)
# D) Existen valores faltantes en el dataset?

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0

In [ ]:
from sklearn import datasets
iris = datasets.load_iris()
iris = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
iris.head(4)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0

In [ ]:
# A) Acceder a la fila asociada al índice 10
iris.iloc[10]

sepal length (cm)    5.4
sepal width (cm)     3.7
petal length (cm)    1.5
petal width (cm)     0.2
target               0.0
Name: 10, dtype: float64

In [ ]:
# B) Generar una columna que sea igual a la suma de las "lengths"
iris['length_sum'] = iris['sepal length (cm)'] + iris['petal length (cm)']
iris.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,length_sum
0,5.1,3.5,1.4,0.2,0.0,6.5
1,4.9,3.0,1.4,0.2,0.0,6.3
2,4.7,3.2,1.3,0.2,0.0,6.0
3,4.6,3.1,1.5,0.2,0.0,6.1
4,5.0,3.6,1.4,0.2,0.0,6.4

In [ ]:
# C) Guardar en un nuevo dataframe la columna target para todos aquellas observaciones que superen los 5cm de sepal length (cm)
ej_c = iris.loc[iris['sepal length (cm)'] > 5 ,'target']
ej_c

0      0.0
5      0.0
10     0.0
14     0.0
15     0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: target, Length: 118, dtype: float64

In [ ]:
# D) Existen valores faltantes en el dataset?
iris.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
length_sum           0
dtype: int64

# Clase 6

In [ ]:
df_lluvias = pd.read_csv('C:/Users/ferraros/Desktop/Coder DS/pune_1965_to_2002.csv')
df_lluvias.head(5)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [ ]:
indice = list(df_lluvias.Year)

In [ ]:
columnas = df_lluvias.columns[1:]
columnas

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [ ]:
valores = df_lluvias.values[:,1:]

In [ ]:
df_lluvias = pd.DataFrame(valores,index=indice,columns=columnas)
df_lluvias

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [ ]:
df_lluvias.max()

Jan      3.013
Feb      8.410
Mar      9.619
Apr     53.266
May     80.539
Jun    773.737
Jul    780.006
Aug    541.579
Sep    613.522
Oct    225.904
Nov    122.809
Dec     37.685
dtype: float64

In [ ]:
df_lluvias.mean(axis='columns')

1965    105.282833
1966     74.965667
1967    126.848667
1968     90.519750
1969    144.918500
1970    106.125583
1971     98.051000
1972     59.206250
1973    130.839417
1974    118.823000
1975    148.153167
1976    161.763917
1977    100.179500
1978     97.381917
1979    147.432250
1980    105.682083
1981    130.230083
1982     78.590583
1983    134.745667
1984    128.246750
1985    101.237667
1986    105.664083
1987     99.833250
1988    151.887417
1989    116.668667
1990    147.191167
1991    124.771333
1992    110.323583
1993    100.854333
1994    165.640750
1995    100.755667
1996    135.944250
1997    153.736667
1998    133.603583
1999    102.973583
2000     91.171833
2001     87.152083
2002     85.406750
dtype: float64

In [ ]:
df_lluvias.describe()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,0.294368,1.101132,1.677184,12.381237,25.059789,337.096395,430.010395,277.088342,201.111711,73.245263,25.223474,6.069632
std,0.640510,1.741219,2.486516,13.671071,22.451708,171.666565,177.976444,132.245356,123.736320,62.936775,31.806180,11.725716
min,0.000000,0.000000,0.000000,0.061000,0.508000,94.088000,84.936000,59.386000,44.574000,1.078000,0.260000,0.000000
25%,0.000000,0.000000,0.000000,2.291750,7.005250,226.180250,322.461000,183.152750,105.936000,21.970500,3.732750,0.000000
50%,0.008000,0.247500,0.596000,5.489500,18.144500,312.100000,415.079500,243.230500,180.966500,49.830500,14.686000,0.496500
75%,0.248000,1.948500,2.076000,19.796500,33.066000,412.568250,555.284250,401.224500,242.433500,115.655750,37.006750,4.151500
max,3.013000,8.410000,9.619000,53.266000,80.539000,773.737000,780.006000,541.579000,613.522000,225.904000,122.809000,37.685000

In [ ]:
df_lluvias['Jan'].describe()

count    38.000000
mean      0.294368
std       0.640510
min       0.000000
25%       0.000000
50%       0.008000
75%       0.248000
max       3.013000
Name: Jan, dtype: float64

In [ ]:
df_lluvias.T.describe().round(2)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
count,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,...,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00
mean,105.28,74.97,126.85,90.52,144.92,106.13,98.05,59.21,130.84,118.82,...,100.85,165.64,100.76,135.94,153.74,133.60,102.97,91.17,87.15,85.41
std,193.80,136.71,223.48,121.54,226.52,130.81,139.31,100.11,209.32,148.03,...,141.62,272.17,154.01,194.00,243.54,189.38,140.38,128.44,108.01,152.21
min,0.00,0.00,0.25,0.32,0.25,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00
25%,3.95,1.21,7.14,2.78,2.38,0.05,0.00,0.11,2.29,0.20,...,1.85,2.03,1.50,2.11,3.82,0.30,0.21,0.94,1.18,0.56
50%,19.76,22.67,25.58,23.32,15.11,42.13,20.12,12.54,10.25,34.04,...,20.69,25.10,24.96,9.26,27.48,34.34,18.63,20.76,15.75,19.96
75%,77.66,70.78,181.74,173.95,252.48,189.85,163.16,81.66,201.64,213.79,...,169.18,144.99,126.53,205.85,154.77,239.82,191.72,165.60,165.87,79.94
max,606.07,481.94,780.01,379.35,678.35,330.50,372.69,338.48,696.02,405.36,...,450.09,749.03,501.46,558.59,673.83,590.66,415.47,371.33,279.55,509.14

In [ ]:
df = pd.read_csv('C:/Users/ferraros/Desktop/Coder DS/us_presidents 2.csv')
df.head(5)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

In [ ]:
df.president.str.lower()

0          george washington
1                 john adams
2           thomas jefferson
3              james madison
4               james monroe
5          john quincy adams
6             andrew jackson
7           martin van buren
8     william henry harrison
9                 john tyler
10             james k. polk
11            zachary taylor
12          millard fillmore
13           franklin pierce
14            james buchanan
15           abraham lincoln
16            andrew johnson
17          ulysses s. grant
18       rutherford b. hayes
19         james a. garfield
20         chester a. arthur
21          grover cleveland
22         benjamin harrison
23          grover cleveland
24          william mckinley
25        theodore roosevelt
26       william howard taft
27            woodrow wilson
28         warren g. harding
29           calvin coolidge
30            herbert hoover
31     franklin d. roosevelt
32           harry s. truman
33      dwight d. eisenhower
34           john f. kennedy
35         lyndon b. johnson
36             richard nixon
37               gerald ford
38              jimmy carter
39             ronald reagan
40         george h. w. bush
41              bill clinton
42            george w. bush
43              barack obama
44              donald trump
Name: president, dtype: object

In [ ]:
df.president.str.len()

0     17
1     10
2     16
3     13
4     12
5     17
6     14
7     16
8     22
9     10
10    13
11    14
12    16
13    15
14    14
15    15
16    14
17    16
18    19
19    17
20    17
21    16
22    17
23    16
24    16
25    18
26    19
27    14
28    17
29    15
30    14
31    21
32    15
33    20
34    15
35    17
36    13
37    11
38    12
39    13
40    17
41    12
42    14
43    12
44    12
Name: president, dtype: int64

In [ ]:
df.president.str.contains('James')

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
Name: president, dtype: bool

In [ ]:
df.president.str.split()

0           [George, Washington]
1                  [John, Adams]
2            [Thomas, Jefferson]
3               [James, Madison]
4                [James, Monroe]
5          [John, Quincy, Adams]
6              [Andrew, Jackson]
7           [Martin, Van, Buren]
8     [William, Henry, Harrison]
9                  [John, Tyler]
10             [James, K., Polk]
11             [Zachary, Taylor]
12           [Millard, Fillmore]
13            [Franklin, Pierce]
14             [James, Buchanan]
15            [Abraham, Lincoln]
16             [Andrew, Johnson]
17          [Ulysses, S., Grant]
18       [Rutherford, B., Hayes]
19         [James, A., Garfield]
20         [Chester, A., Arthur]
21           [Grover, Cleveland]
22          [Benjamin, Harrison]
23           [Grover, Cleveland]
24           [William, McKinley]
25         [Theodore, Roosevelt]
26       [William, Howard, Taft]
27             [Woodrow, Wilson]
28         [Warren, G., Harding]
29            [Calvin, Coolidge]
30             [Herbert, Hoover]
31     [Franklin, D., Roosevelt]
32           [Harry, S., Truman]
33      [Dwight, D., Eisenhower]
34           [John, F., Kennedy]
35         [Lyndon, B., Johnson]
36              [Richard, Nixon]
37                [Gerald, Ford]
38               [Jimmy, Carter]
39              [Ronald, Reagan]
40        [George, H., W., Bush]
41               [Bill, Clinton]
42            [George, W., Bush]
43               [Barack, Obama]
44               [Donald, Trump]
Name: president, dtype: object

In [ ]:
fecha = pd.to_datetime('03/01/2020',dayfirst=True)
fecha

Timestamp('2020-01-03 00:00:00')

In [ ]:
fin = pd.to_datetime('10/01/2020',dayfirst=True)
fechas_1 = pd.date_range(start=fecha, end=fin)
fechas_1

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
fechas_2 = pd.date_range(start=fecha, periods=8)
fechas_2

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
fechas_3 = pd.date_range(start= fecha, periods= 8, freq='M')
fechas_3

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
fecha

Timestamp('2020-01-03 00:00:00')

In [ ]:
mes_inicio = fecha.strftime('%Y-%m')
mes_inicio

'2020-01'

In [ ]:
cuanto_tiempo = fechas_3[7] - fechas_3[0]
cuanto_tiempo

Timedelta('213 days 00:00:00')

In [ ]:
cuanto_tiempo_meses = fechas_3[7].to_period('M') - fechas_3[0].to_period('M') 
cuanto_tiempo_meses

In [ ]:
fechas_presidentes_orig = Presidentes_archivo['start']
fechas_presidentes_orig

0         April 30, 1789
1          March 4, 1797
2          March 4, 1801
3          March 4, 1809
4          March 4, 1817
5          March 4, 1825
6          March 4, 1829
7          March 4, 1837
8          March 4, 1841
9          April 4, 1841
10         March 4, 1845
11         March 4, 1849
12          July 9, 1850
13         March 4, 1853
14         March 4, 1857
15         March 4, 1861
16        April 15, 1865
17         March 4, 1869
18         March 4, 1877
19         March 4, 1881
20    September 19, 1881
21         March 4, 1885
22         March 4, 1889
23         March 4, 1893
24         March 4, 1897
25    September 14, 1901
26         March 4, 1909
27         March 4, 1913
28         March 4, 1921
29        August 2, 1923
30         March 4, 1929
31         March 4, 1933
32        April 12, 1945
33      January 20, 1953
34      January 20, 1961
35     November 22, 1963
36      January 20, 1969
37        August 9, 1974
38      January 20, 1977
39      January 20, 1981
40      January 20, 1989
41      January 20, 1993
42      January 20, 2001
43      January 20, 2009
44      January 20, 2017
Name: start, dtype: object

In [ ]:
type(fechas_presidentes_orig)

pandas.core.series.Series

In [ ]:
fechas_presidentes_orig[0]

'April 30, 1789'

In [ ]:
fechas_presidentes = pd.DatetimeIndex(fechas_presidentes_orig)
fechas_presidentes

DatetimeIndex(['1789-04-30', '1797-03-04', '1801-03-04', '1809-03-04',
               '1817-03-04', '1825-03-04', '1829-03-04', '1837-03-04',
               '1841-03-04', '1841-04-04', '1845-03-04', '1849-03-04',
               '1850-07-09', '1853-03-04', '1857-03-04', '1861-03-04',
               '1865-04-15', '1869-03-04', '1877-03-04', '1881-03-04',
               '1881-09-19', '1885-03-04', '1889-03-04', '1893-03-04',
               '1897-03-04', '1901-09-14', '1909-03-04', '1913-03-04',
               '1921-03-04', '1923-08-02', '1929-03-04', '1933-03-04',
               '1945-04-12', '1953-01-20', '1961-01-20', '1963-11-22',
               '1969-01-20', '1974-08-09', '1977-01-20', '1981-01-20',
               '1989-01-20', '1993-01-20', '2001-01-20', '2009-01-20',
               '2017-01-20'],
              dtype='datetime64[ns]', name='start', freq=None)

In [ ]:
df.president

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [ ]:
Serie_presidentes = pd.Series(df.president.values,index=fechas_presidentes)
Serie_presidentes.head(20)

start
1789-04-30         George Washington
1797-03-04                John Adams
1801-03-04          Thomas Jefferson
1809-03-04             James Madison
1817-03-04              James Monroe
1825-03-04         John Quincy Adams
1829-03-04            Andrew Jackson
1837-03-04          Martin Van Buren
1841-03-04    William Henry Harrison
1841-04-04                John Tyler
1845-03-04             James K. Polk
1849-03-04            Zachary Taylor
1850-07-09          Millard Fillmore
1853-03-04           Franklin Pierce
1857-03-04            James Buchanan
1861-03-04           Abraham Lincoln
1865-04-15            Andrew Johnson
1869-03-04          Ulysses S. Grant
1877-03-04       Rutherford B. Hayes
1881-03-04         James A. Garfield
dtype: object

# Ejercicio: Presidentes desde 1850 a 1901 inclusive

In [ ]:
filtro1 = Serie_presidentes.index >= '1850-01-01'
filtro1

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [ ]:
filtro2 = Serie_presidentes.index <= '1901-01-01'
filtro2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [ ]:
Serie_presidentes[filtro1 & filtro2]

start
1850-07-09       Millard Fillmore
1853-03-04        Franklin Pierce
1857-03-04         James Buchanan
1861-03-04        Abraham Lincoln
1865-04-15         Andrew Johnson
1869-03-04       Ulysses S. Grant
1877-03-04    Rutherford B. Hayes
1881-03-04      James A. Garfield
1881-09-19      Chester A. Arthur
1885-03-04       Grover Cleveland
1889-03-04      Benjamin Harrison
1893-03-04       Grover Cleveland
1897-03-04       William McKinley
dtype: object